*{
  box-sizing: border-box;
}

body{
  background: url('../images/grid-bg.png') repeat;

}

mark{
  background: lightyellow;
  padding: 10px;
}

#app-container{
  background: #fff;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 800px;
  padding: 20px;
}

h1{text-align: left;}
p {text-align: left;}
table{
  border-collapse: collapse;
}

td:nth-of-type(2) {
  text-align: right;
}
